<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- 密钥 -->
    <add key="AccessKey" value=""/>
    <add key="SecretKey" value=""/>

    <!--备份空间时的指定的 空间名 -->
    <add key="Bucket" value="myvideo"/>

    <!--执行m3u8空间时的指定的 空间名 -->
    <add key="BucketM3U8" value="myvideo"/>
    
    <!--备份空间时的指定的 空间的 域名 例如 http://xxxx.clouddn.com/  记得加上/   (一般人我不告诉他)   -->
    <add key="Domain" value="/"/>

    <!-- 是否为私有空间 -->
    <add key="Private" value="false"/>

    <!--备份空间时的指定的 指定的资源前缀 -->
    <add key="Prefix" value=""/>
    
    <!--备份或者执行m3u8操作空间时的指定的 保存到本地路径 -->
    <add key="SaveAs" value="C:\Users\Administrator\Documents\test\"/>

    <!-- 是否覆盖本地文件 -->
    <add key="OverWrite" value="true"/>

  </appSettings>
</configuration>